@property --gradient-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 45deg;
  }

.tile-button{
    --gradient-angle: 45deg;
    --_pseudo-grad-colors: #CAF0F8, #ADE8F4, #CAF0F8, #ADE8F4;
    --_bg-colors: linear-gradient(#48CAE4 0%, #48CAE4 92%, #00B4D8 92%);
    
    background: var(--_bg-colors);
    transition: all ease-in-out .1s !important;
}

.tile-button:hover{
    --_bg-colors: linear-gradient(#48CAE4 0%, #48CAE4 95%, #00B4D8 95%);
}

.tile-button::before{
    background: conic-gradient(from var(--gradient-angle), var(--_pseudo-grad-colors));
}

@keyframes rotate {
    to{ --gradient-angle: 360deg }
}


.tile-button[data-state=flipped]{
    color: white;
    --_pseudo-grad-colors: #CAF0F8, #ADE8F4, #CAF0F8, #ADE8F4;
    --_bg-colors: linear-gradient(to right, #0096C7, #023E8A);
}

.tile-button[data-state=matched]{
    --_bg-colors: hsl(190, 77%, 88%);
    color: hsl(190, 100%, 42%);
    cursor: not-allowed;
}

